* {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: #777;
    
    
}

body {
    margin: auto;
    width: 50%;
    padding: 10px;
    
    
}

#header{
    /* position: static; */
    padding: 20px;
    top: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
    background: #ebebeb;
    width: 820px;
    box-sizing: border-box;
}

#nav {
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    background:#ebebeb;
    width: 820px;
}

#section {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    background: #ebebeb;
    width: 400px;
    height: 300px;
    float: left;
    clear:both;
}

#article {
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    color: #ebebeb;
    background: #777;
    width: 350px;
    height: 200px;
    top: 15%;
    
    
}

#h {
    padding: 15px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
    width: 300px;
   position: absolute;
   top: 50px;
   right: 15px;
   left: 15px;
   
}

#p {
    position: absolute;
    padding: 15px;
    top: 80px;
    margin-bottom: 10px;
    color: #777;
    background: #ebebeb;
    width: 300px;
    right: 15px;
    left: 4px;
}

#aside {
    padding: 20px;
    margin-left: 20px;
    color: black;
    background: #ebebeb;
    width: 400px;
    height: 300px;
   float: left;
    left: 150px;
}


#footer {
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    background: #ebebeb;
    width: 820px;
    float: left;
    clear: both;
}